@import '../utils/var.scss';

.about {
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    background-color: #FFFFFF;
    margin-bottom: 50px;

    &__image img {
        width: auto;
        height: 100%;
        display: block;
    }

    &__content {
        max-width: 100%;
        margin-left: 127px;
    }

    &__title, &__subtitle, &__text {
        font-family: $font-family-base;
        font-size: 16px;
        color: $base-color;
        margin-bottom: 30px;

        &.about__title {
                max-width: 293px;
                font-family: $font-family-title;
                font-size: 32px;
                line-height: 36px;
                margin-bottom: 20px;
                font-weight: 200;
        }

        &.about__subtitle {
            font-weight: bold;
            color: $subtitle-color;
            letter-spacing: 2.88px;
        }

        &.about__text {
            opacity: 0.7;
            line-height: 20px;
        }
    }

    &__btn {
        font-family: $font-family-base;
        font-size: 16px;
        font-weight: bold;
        padding: 17px 40px;
        background-color: $accent-color;
        color: $base-color;
        border: none;
        cursor: pointer;
        border-radius: 4px;

        &:hover {
            background-color: $btn-hover;
        }
    }

    @media (max-width: $breakpoint-lg) {
        margin: 0;
        
        &__image img{
            height: 450px;
        }

        &__content {
            margin-left: 50px;
        }

    }

    @media (max-width: $breakpoint-md) {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        padding: 25px 15px;

        &__image {
            width: 100%;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;

            img {
                width: 100%;
                height: auto;
                max-width: 600px;
            }
        }

        &__content {
            width: 100%;
            padding: 0;
            align-items: flex-start;
            margin-left: 0;
        }

        &__title, &__subtitle, &__text {
            max-width: 100%;
            text-align: left;
            align-items: flex-start;
        }

        &__title {
            max-width: 300px;
            margin-bottom: 20px;
        }

        &__subtitle {
            margin-top: 28px;
            margin-bottom: 0;
        }

        &__text {
            margin-bottom: 30px;
        }

        &__btn {
            display: block;
            margin: 20px 0 0;
            text-align: left;
        }
    }
}
