@import '../utils/var.scss';

.hero {
    margin-top: 99px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &__actions {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }

    &__tagline, &__detail {
        font-family: $font-family-base;
        font-size: 18px;
        color: $subtitle-color;
        margin-bottom: 30px;

        &.hero__detail {
            opacity: 0.7;
            line-height: 20px;
            max-width: 398px;
            font-size: 16px;
        }
    }

    &__tagline {
        letter-spacing: 2.88px;
        font-weight: bold;
    }

    &__title {
        font-family: $font-family-title;
        font-size: 54px;
        color: $base-color;
        line-height: 60.5px;
        margin-bottom: 20px;
        font-weight: 200;
        max-width: 628px;
        position: relative;
        z-index: 2;
    }

    &__image {
        position: relative;
        margin-left: -150px;
        z-index: 1;
        border-radius: 10px;
        -webkit-box-shadow: -15px 20px 50px 5px #46464682;
        box-shadow: -15px 20px 50px 5px #46464682;
        overflow: hidden;

        img {
            width: 754px;
            height: auto;
            display: block;
            border-radius: 10px;
        }
    }
      
    &__btn, &__link {
        font-family: $font-family-base;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        color: inherit;

        &.hero__btn {
            border-radius: 5px;
            padding: 17.5px 42.5px;
            background-color: $accent-color;
            color: $base-color;
            border: none;
            cursor: pointer;

            &:hover{
                background-color: $btn-hover;;
            }
        }
    }

    &__link {
        margin-left: 51px;

        img {
            width: 29px;
            height: 29px;
            margin-right: 10px;
            vertical-align: middle;
        }
    }

    &__scroll {
        font-family: $font-family-base;
        font-size: 16px;
        font-weight: bold;
        position: absolute;
        display: inline-flex;
        align-items: center;
        top: calc(100% + 135px);
        left: 0;

        img {
            height: 28px;
            width: 28px;
            margin-right: 10px;
            vertical-align: middle;
        }
    }

    @media (max-width: $breakpoint-xl) {
        &__image img{
            width: 550px;
        }
    }

    @media (max-width: $breakpoint-md), (max-width: $breakpoint-lg){
        flex-direction: column;
        align-items: center;
        text-align: left;
        padding: 25px 15px;
        margin-top: 20px;

        &__content {
            width: 100%;
            padding: 20px;
        }

        &__image {
            width: 100%;
            order: -1;
            display: flex;
            justify-content: center;
            margin-left: 0;
            -webkit-box-shadow: none; 
            box-shadow: none;

            img {
                width: auto;
                max-width: 100%;
                height: auto;
                box-shadow: none;
            }
        }

        &__actions {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }

        &__btn, &__link {
            flex-basis: calc(50% - 5px);
        }

        &__title {
            font-size: 42px;
            line-height: 45px;
        }

        &__tagline {
            margin-bottom: 10px;
        }

        &__btn {
            margin-right: 10px;
        }

        &__scroll {
            display: none;
        }
    }
}
