// FONTS
$font-family-base: 'Lato', sans-serif;
$font-family-title: 'Abril Fatface', cursive;

// COLORS
$base-color: #000000;
$accent-color: #3EFFB5;
$btn-hover: #30CC9E;
$subtitle-color: #888888;
$background-color-menu: #F6F6FB;

// MAX-WIDTH
$max-width: 1235px;


// BREAKPOINTS
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;