body, h1, p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  background-color: #FFFFFF;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 928px;
  background-image: linear-gradient(to right, #FFFFFF 50%, rgba(246, 246, 251, 0.5) 50%);
  z-index: -1;
}

.container {
  max-width: 1235px;
  margin: auto;
  padding: 15px;
  position: relative;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 1 auto;
  width: 100%;
}
.header__logo img {
  height: 25px;
}

.nav__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav__item {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: regular;
  color: #000000;
  margin: 0 30px;
}
.nav__item--active .nav__link {
  font-weight: bold;
}

.nav__link {
  text-decoration: none;
  color: #000000;
}

.contact__btn {
  padding: 15px 25px;
  background-color: #3EFFB5;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #000000;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}
.contact__btn:hover {
  background-color: #30CC9E;
}

.hero {
  margin-top: 99px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.hero__actions {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.hero__tagline, .hero__detail {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #888888;
  margin-bottom: 30px;
}
.hero__tagline.hero__detail, .hero__detail.hero__detail {
  opacity: 0.7;
  line-height: 20px;
  max-width: 398px;
  font-size: 16px;
}
.hero__tagline {
  letter-spacing: 2.88px;
  font-weight: bold;
}
.hero__title {
  font-family: "Abril Fatface", cursive;
  font-size: 54px;
  color: #000000;
  line-height: 60.5px;
  margin-bottom: 20px;
  font-weight: 200;
  max-width: 628px;
  position: relative;
  z-index: 2;
}
.hero__image {
  position: relative;
  margin-left: -150px;
  z-index: 1;
  border-radius: 10px;
  box-shadow: -15px 20px 50px 5px rgba(70, 70, 70, 0.5098039216);
  overflow: hidden;
}
.hero__image img {
  width: 754px;
  height: auto;
  display: block;
  border-radius: 10px;
}
.hero__btn, .hero__link {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}
.hero__btn.hero__btn, .hero__link.hero__btn {
  border-radius: 5px;
  padding: 17.5px 42.5px;
  background-color: #3EFFB5;
  color: #000000;
  border: none;
  cursor: pointer;
}
.hero__btn.hero__btn:hover, .hero__link.hero__btn:hover {
  background-color: #30CC9E;
}
.hero__link {
  margin-left: 51px;
}
.hero__link img {
  width: 29px;
  height: 29px;
  margin-right: 10px;
  vertical-align: middle;
}
.hero__scroll {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  display: inline-flex;
  align-items: center;
  top: calc(100% + 135px);
  left: 0;
}
.hero__scroll img {
  height: 28px;
  width: 28px;
  margin-right: 10px;
  vertical-align: middle;
}

.about {
  margin-top: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  background-color: #FFFFFF;
  margin-bottom: 50px;
}
.about__image img {
  width: auto;
  height: 100%;
  display: block;
}
.about__content {
  max-width: 100%;
  margin-left: 127px;
}
.about__title, .about__subtitle, .about__text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #000000;
  margin-bottom: 30px;
}
.about__title.about__title, .about__subtitle.about__title, .about__text.about__title {
  max-width: 293px;
  font-family: "Abril Fatface", cursive;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 20px;
  font-weight: 200;
}
.about__title.about__subtitle, .about__subtitle.about__subtitle, .about__text.about__subtitle {
  font-weight: bold;
  color: #888888;
  letter-spacing: 2.88px;
}
.about__title.about__text, .about__subtitle.about__text, .about__text.about__text {
  opacity: 0.7;
  line-height: 20px;
}
.about__btn {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 17px 40px;
  background-color: #3EFFB5;
  color: #000000;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.about__btn:hover {
  background-color: #30CC9E;
}

.best-menu {
  position: relative;
  z-index: 1;
  padding: 100px;
}
.best-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100%;
  background-color: #F6F6FB;
  z-index: -1;
  transform: translateX(-50%);
  opacity: 0.5;
}
.best-menu__title {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #888888;
  margin-bottom: 20px;
  letter-spacing: 2.88px;
  text-align: center;
}
.best-menu__subtitle {
  font-family: "Abril Fatface", cursive;
  font-size: 32px;
  line-height: 36px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 60px;
}

.swiper-slide {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.swiper-slide img {
  width: 100%;
  height: auto;
  display: block;
}

.menu-item__content {
  padding: 40px;
}
.menu-item__name, .menu-item__description, .menu-item__link {
  font-family: "Lato", sans-serif;
  color: #000000;
  margin-bottom: 20px;
}
.menu-item__name.menu-item__name, .menu-item__description.menu-item__name, .menu-item__link.menu-item__name {
  font-size: 24px;
  font-weight: bold;
}
.menu-item__name.menu-item__description, .menu-item__description.menu-item__description, .menu-item__link.menu-item__description {
  font-size: 16px;
  line-height: 20px;
  height: 39px;
  opacity: 0.7;
  margin-bottom: 30px;
}
.menu-item__name.menu-item__link, .menu-item__description.menu-item__link, .menu-item__link.menu-item__link {
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}

.swiper-custom-navigation {
  display: flex;
  justify-content: right;
  gap: 30px;
  margin-top: 40px;
}

.swiper-custom-prev, .swiper-custom-next {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: right;
}

.swiper-button-next, .swiper-button-prev {
  display: none !important;
}

.footer {
  overflow: hidden;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  max-width: 1235px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.footer__column {
  flex: 1;
  min-width: 200px;
  margin-right: 20px;
}
.footer__title {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 30px;
}
.footer__link {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #000000;
  opacity: 0.7;
  display: block;
  text-decoration: none;
  margin-bottom: 20px;
}/*# sourceMappingURL=styles.css.map */